<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="aa" content="html">
    <title>Title</title>
</head>
<body>
    <iframe src="demo.html"width="200px" hight="100px" frameborder="0"></iframe>
    <p>可见？？？</p>
    <form action="demo.html " method="post">
        请选择文件:<input type="file" name="file" >
        <br/>
        姓名:<input type="text" name="userName" placeholder="请输入名称">
        <br/>
        密码：<input type="password" name="psw">
        <br/>
        邮箱：<input type="email" name="email" placeholder="请输入邮箱">
        <br/>
        性别：
        <input type="radio" name="sex" value="男">男
        <input type="radio" name="sex" value="女">女
        <br/>
        水果：<select name="fruit">
            <option   value="apple">苹果</option>
            <option selected value="ss">橘子</option>
            <option value="aa">梨</option>
        </select>
        <br/>
        兴趣：
        <input type="checkbox" name="interest" value="选项3">选项3
        <input type="checkbox" name="interest" value="选项4">选项4
        <input type="checkbox" value="选项5" name="interest"><选项5></选项5>
        <input type="submit" value="提交">
    </form>

</body>
</html>