<!DOCTYPE html>
<html lang="en" xmlns:h2="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<p>这是一个段落</p>
<h1>今天开始学习HTML</h1>
<h2>h2</h2>
<h3>h3</h3>
<a href="http://www.baidu.com" target="_blank">百度一下你就知道</a>
<br/>
<br/>
<!--这是注释-->
<address id="a">
    作者：<a href="http://www.baidu.com">刘成</a><br>
    see：<br>
    aa<abbr>aa</abbr><br>
    The<abbr title="World Health Organization">WHO</abbr> was founded in 1948.
</address>
<iframe src="demo.html" frameborder="0"></iframe>
<img border="10" src="../static/img/1.jpg" width="258" height="100" alt="aa" usemap="#demoMap"/>

<map name="demoMap">
    <area shape="rect" coords="0,0,82,126" href="../static/img/2.jpg">
    <area>
    <area>
</map>
<p class="aaaa" style="height: 219px;
    width: auto;
    color: rgb(0, 0, 0);
    background-color: #ff6c80;
    text-shadow: 207px 0 black;"> 这是style </p>

<p contenteditable="true"> 这个可以编辑
    ，换行咯

</p>
<p dir="rtl"><b>演示</b>文本<i>1</i></p>
<p dir="ltr"><b>演示</b>文本<sub>2</sub></p>
<p dir="ltr"><b>演示</b>文本<sup>3</sup></p>

<hr/>
<p>sssss</p>
<pre> 我才是   空格
    换行












    <q>我是要说的内容</q>
</pre>

<a href="#a">跳转</a>
<table border="1" style="color: #0e90d2" width="200px">
    <thead>
   <th>1</th>
    <th>2</th>
    </thead>
    <tbody>
    <tr>
        <td>s</td>
        <td>b</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center   ">hh</td>
    </tr>
    </tbody>

</table>
<h2 class="table1">demo表</h2>
<table style="align-content: center" width="500px" hight="400px" border="1" class="table1" cellspacing="10">
    <thead>
        <th colspan="2"> 这是标题 </th>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>这是一个文本</p>
                <p>这是一个文本</p>
            </td>
            <td>再来一个表格
                <table border="1" cellpadding="10">
                    <thead>
                        <th colspan="2"> 小标题 </th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>11</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td >22</td>
                        <td>22</td>
                    </tr>

                    </tbody>
                </table>

            </td>
        </tr>
        <tr>
            <td>
                <ul id="ul">
                    <li>aaaa</li>
                    <li>bbbb</li>
                    <li>cccc</li>
                </ul>
            </td>
            <td>HELLO</td>
        </tr>
    </tbody>
</table>
<div class="cities">
    <h2>London </h2>
    <p> London is the capital city of England.
        It is the most populous city in the United Kingdom,
        with a metropolitan area of over 13 million inhabitants.</p>
</div>
<div class="cities">
    <h2>London </h2>
    <p> London is the capital city of England.
        It is the most populous city in the United Kingdom,
        with a metropolitan area of over 13 million inhabitants.</p>
</div>
<div class="cities">
    <h2>London </h2>
    <p> London is the capital city of England.
        It is the most populous city in the United Kingdom,
        with a metropolitan area of over 13 million inhabitants.</p>
</div>
<div class="cities">
    <h2>London </h2>
    <p id="demo2"> London is the capital city of England.
        It is the most populous city in the United Kingdom,
        with a metropolitan area of over 13 million inhabitants.</p>
    <a target="_blank" href="demo.html"> demo的链接</a>
</div>



</body>
</html>