<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>KindEditor JSP</title>
    <link rel="stylesheet" href="../static/kineditor/themes/default/default.css" />
    <link rel="stylesheet" href="../static/kineditor/plugins/code/prettify.css" />
    <script charset="utf-8" src="../static/kineditor/kindeditor.js"></script>
    <script charset="utf-8" src="../static/kineditor/lang/zh-CN.js"></script>
    <script charset="utf-8" src="../static/kineditor/plugins/code/prettify.js"></script>
    <script>
        KindEditor.ready(function(K) {
            var editor1 = K.create('textarea[name="content1"]', {
                cssPath : '../static/kineditor/plugins/code/prettify.css',
                uploadJson : '../static/kineditor/jsp/upload_json.jsp',
                fileManagerJson : '../static/kineditor/jsp/file_manager_json.jsp',
                allowFileManager : true,
                afterCreate : function() {
                    var self = this;
                    K.ctrl(document, 13, function() {
                        self.sync();
                        document.forms['example'].submit();
                    });
                    K.ctrl(self.edit.doc, 13, function() {
                        self.sync();
                        document.forms['example'].submit();
                    });
                }
            });
            prettyPrint();
        });
    </script>
</head>
<body>
<form name="example" method="post" action="/fileUpload">
    <textarea name="content1" cols="100" rows="8" style="width:700px;height:200px;visibility:hidden;"></textarea>
    <br />
    <input type="submit" name="button" value="提交内容" /> (提交快捷键: Ctrl + Enter)
</form>
</body>
</html>