body{
    width:100%;
    margin-top: 0;
    margin-left:1px;
    border:1px solid gray;
    line-height:150%;

}
header,footer{
    text-align: center;
    color: white;
    background: grey;
    padding: 0;
    margin-top: -10px;
}
.left{
    float:left;
    width:160px;
    padding-left: 10px;
    padding-bottom: inherit;
    margin-top: -15px;
    margin-bottom: -10px;
}
.right{
    margin-top: -21px;
    margin-left:190px;
    border-left:1px solid gray;
    padding:1em;
}

#img {
    margin-left: 190px;

    width: 550px;
}
#img img{
    width: 180px;
    margin: 10px;
}
#img div:first-child {
    padding-left: 1em;
    margin-left: 0;
    border-left:1px solid grey ;
}
