<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style1.css" type="text/css">
</head>
<header><h1>W3School.com.cn</h1></header>
<div class="left">
    <p>"Never increase, beyond what is necessary, the number of entities required to explain anything." William of Ockham (1285-1349)</p>
</div>
<div class="right   ">
    <h2>Free Web Building Tutorials</h2>
    <p>At W3School.com.cn you will find all the Web-building tutorials you need, from basic HTML and XHTML to advanced XML, XSL, Multimedia and WAP.</p>
    <br>
    <p>W3School.com.cn - The Largest Web Developers Site On The Net!</p>
</div>
<footer>Copyright 2008 by YingKe Investment.</footer>
</html>